# LiteX-M2SDR direct-cable Ethernet PTP master, UDPv4/E2E, host software timestamps.
#
# Equivalent command-line flags:
#   ptp4l -i <iface> -4 -E -S -m

[global]
network_transport UDPv4
delay_mechanism E2E
time_stamping software

# Keep the exchange easy to observe during board bring-up.
logSyncInterval 0
logMinDelayReqInterval 0
logAnnounceInterval 1
announceReceiptTimeout 3
summary_interval 1
