name: ci

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      # Checkout Repository
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup CCache
        uses: hendrikmuhs/ccache-action@v1.2

      # Install Tools
      - name: Install Tools
        run: |
          sudo apt-get install make wget

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
          cache: "pip"
          cache-dependency-path: "setup.py"

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip
          pip install pytest

      - name: Run LiteX installation
        run: |
          mkdir repos
          pushd repos
            wget https://raw.githubusercontent.com/enjoy-digital/litex/refs/heads/master/litex_setup.py
            python3 litex_setup.py --config=standard --init --install --user
          popd

      - name: Tag build with version information
        run: |
          rm -rf build
          mkdir -p build
          git describe --tags --always > build/VERSION
          git rev-parse HEAD > build/COMMIT

      - name: Build LiteX M.2 SDR HDL framework releases
        run: |
          ./release.py --nobuild

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: litex_m2sdr_hdl
          path: |
            build/VERSION
            build/COMMIT
            build/*.zip
